---
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SplitText from "../components/SplitText.astro";
import { SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import DockerIcon from "../assets/icons/docker.svg";
import PosgresIcon from "../assets/icons/postgresql.svg";
import ReactIcon from "../assets/icons/reactjs.svg";
import NestIcon from "../assets/icons/nestjs.svg";
import JestIcon from "../assets/icons/jest.svg";
import TailwindIcon from "../assets/icons/tailwind.svg";
import TypescriptIcon from "../assets/icons/typescript.svg";
import PrismaIcon from "../assets/icons/prisma.svg";
import NextIcon from "../assets/icons/nextjs.svg";
import picOfAuthor from "../assets/images/denny-tampan.jpg";
import myDesk from "../assets/images/my-desk.jpg";

const techStack = [
  { name: "Docker", icon: DockerIcon, url: "https://www.docker.com/" },
  { name: "Postgres", icon: PosgresIcon, url: "https://www.postgresql.org/" },
  { name: "React", icon: ReactIcon, url: "https://reactjs.org/" },
  { name: "NestJS", icon: NestIcon, url: "https://nestjs.com/" },
  { name: "Jest", icon: JestIcon, url: "https://jestjs.io/" },
  { name: "Tailwind", icon: TailwindIcon, url: "https://tailwindcss.com/" },
  { name: "Typescript", icon: TypescriptIcon, url: "https://www.typescriptlang.org/" },
  { name: "Prisma", icon: PrismaIcon, url: "https://www.prisma.io/" },
  { name: "NextJS", icon: NextIcon, url: "https://nextjs.org/" },
];
---

<BaseLayout title={`About | ${SITE_TITLE}`}>
  <Header />
  <main class="tw-mt-16">
    <section class="tw-mb-5">
      <SplitText
        title="Denny Abbas Zain"
        letterClass="tw-font-monumentBold tw-text-[22px] lg:tw-text-[35px] lg:tw-py-1"
      />
      <div class="tw-grid tw-grid-cols-1 tw-gap-1 lg:tw-grid-cols-[1fr_2fr] lg:tw-gap-5">
        <Image
          src={picOfAuthor}
          alt="Denny Abbas Zain"
          class="tw-h-[300px] tw-w-full tw-rounded-lg tw-object-cover tw-object-top tw-mx-auto lg:tw-h-[300px] lg:tw-w-[300px]"
        />
        <div class="tw-start-2 tw-text-[16px] lg:tw-text-[18px]">
          <span class="tw-font-medium">SDE | Lifelong Learner | Linux Enthusiasts</span>
          <p>✦ working as frontend developer</p>
          <p>✦ currently learning web3, blockchain, and math</p>
          <p>✦ i love memes and sh*t posts</p>
          <p>✦ writing blogs sometimes</p>
        </div>
      </div>
    </section>
    <section>
      <h1 class="tw-font-monumentBold tw-text-[20px] lg:tw-text-[25px] tw-self-center">
        Tech Stack
      </h1>
      <div class="tw-flex tw-col tw-flex-wrap">
        {
          techStack.map(({ name, icon, url }) => (
            <a href={url} target="_blank" rel="noopener noreferrer">
              <Image src={icon} alt={name} class="tw-w-[60px] tw-h-auto tw-object-contain" />
            </a>
          ))
        }
      </div>
    </section>
    <section>
      <h1 class="tw-font-monumentBold tw-text-[20px] lg:tw-text-[25px] tw-self-center">Uses</h1>
      <Image
        src={myDesk}
        alt="uses"
        class="tw-w-[100%] tw-h-[300px] tw-object-cover tw-rounded-lg tw-object-bottom lg:tw-h-[600px] lg:tw-w-[100%]"
      />
      <ul class="tw-mt-1 tw-text-[16px] lg:tw-text-[18px]">
        <li>✦ Macbook Pro M2 (8GB 512GB)</li>
        <li>✦ PC</li>
        <li>✦ Mouse Fantech Thor II X16</li>
        <li>✦ Keyboard Fantech K613</li>
        <li>✦ Monitor LG 32"</li>
        <li>✦ Headphone Sony WH-1000XM4</li>
        <li>✦ Gaming Chair Rexus</li>
      </ul>
    </section>
  </main>
  <Footer />
</BaseLayout>
