---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import ImageCloud from "./ImageCloud.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, heroImage = "", tags, minRead, description } = Astro.props;
---

<div class="tw-grid tw-grid-cols-[4fr_2fr] tw-grid-rows-[.2fr_auto_1fr] tw-gap-1 lg:tw-gap-2">
  <div class="tw-text-[12px] lg:tw-text-[16px]">
    <span>{minRead} min read</span> • <FormattedDate date={pubDate} />
  </div>
  <div class="tw-col-start-1 tw-row-start-2">
    <h1 class="tw-font-bold tw-text-[20px] lg:tw-text-[23px]">{title}</h1>
    <p class="tw-text-[14px] lg:tw-hidden">
      {description.length < 25 ? description : `${description.substring(0, 25)}...`}
    </p>
    <p class="tw-hidden lg:tw-text-[16px] lg:tw-flex lg:tw-flex-wrap">
      {description.length < 50 ? description : `${description.substring(0, 150)}...`}
    </p>
  </div>
  <ImageCloud
    classWrapper="tw-col-start-2 tw-row-start-2 tw-shadow-xl"
    classImg="tw-object-cover tw-h-[135px] tw-w-full tw-shadow-xl"
    width={400}
    height={135}
    publicId={heroImage}
    alt="A thumbnail of the article"
  />
  <div class="tw-col-start-1 tw-row-start-3 tw-space-x-1 tw-space-y-1">
    {
      tags.map((tag: string) => (
        <span class="tw-inline-block tw-bg-black tw-text-white tw-text-[11px] tw-text-center tw-rounded-xl tw-box-border tw-px-[5px] tw-py-[2px] tw-min-w-10 lg:tw-text-[14px] lg:tw-p-[5px]">
          {tag}
        </span>
      ))
    }
  </div>
  <hr class="tw-col-start-1 tw-my-2 tw-row-start-4 tw-col-span-2" />
</div>
