---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
console.log(Astro.props);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="tw-mt-14">
      <article>
        <h1 class="tw-font-monument tw-text-2xl">{title}</h1>
        <FormattedDate date={pubDate} />
        <div>
          {
            heroImage && (
              <img class="tw-rounded-2xl" width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <hr class="tw-my-5" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
