---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SplitText from "../components/SplitText.astro";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, tags, minRead } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="tw-mt-14">
      <article>
        <h1 class="tw-font-monument tw-text-2xl">
          <SplitText title={title} />
        </h1>
        <div class="tw-flex tw-items-center tw-space-x-2">
          <FormattedDate date={pubDate} />
          <span class="tw-font-bold">•</span>
          <span>{minRead} min read</span>
        </div>
        <div>
          {
            heroImage && (
              <img class="tw-rounded-2xl" width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <hr class="tw-my-5" />
        <slot />
        <div class="tw-space-x-1">
          {
            tags &&
              tags.map((tag) => (
                <span class="tw-inline-block tw-mt-5 tw-bg-black tw-text-white tw-text-xs tw-text-center tw-rounded-xl tw-box-border tw-p-[5px] tw-min-w-10">
                  {tag}
                </span>
              ))
          }
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
