---
import CustomLink from "@/components/CustomLink.astro";

const experiences = [
  {
    company: "Quadrant Synergy Internasional",
    role: "Frontend Developer",
    period: "2022 - 2025",
    description:
      "This was where my journey began as a professional developer. There, I worked on many projects in website development. I started off as a frontend developer, then attempted to create a unified codebase for the web. The majority of the websites were created with React.js (CRA) and later migrated to Next.js.",
    link: null,
  },
  {
    company: "The Invincible",
    role: "Co-Founder & NFT Creator",
    period: "2021 - 2022",
    description:
      'Together with my partner, I\'m the creator of "The Invincible," an organization dedicated to creating unique and innovative NFTs. We push the boundaries of digital art and technology to bring you extraordinary pieces. Our team, consisting solely of the two of us, is committed to delivering high-quality, captivating NFTs that resonate with collectors.',
    link: {
      name: "our portofolio",
      url: "https://opensea.io/THE-INVINCIBLE/featured",
      ariaLabel: "Go to OpenSea",
    },
  },
];
---

<section
  class="tw-mt-4 tw-grid tw-grid-cols-1 tw-grid-rows-[50px_2fr] tw-gap-2 lg:tw-grid-cols-4 lg:tw-gap-5 lg:tw-mt-14"
>
  <h1
    id="hover-special"
    class="tw-font-calendasPlus tw-text-[32px] lg:tw-text-[30px] tw-self-center"
  >
    Experience
  </h1>

  {
    experiences.map((experience) => (
      <div class="lg:tw-space-y-3 lg:tw-col-start-1 lg:tw-col-span-4">
        <h2 class="tw-font-overusedGrotesk tw-font-semibold lg:tw-text-[20px]">
          {experience.company}
        </h2>
        <h3 class="tw-font-overusedGrotesk tw-font-semibold !tw-mt-0 tw-flex tw-justify-between tw-text-[16px] lg:tw-text-[16px]">
          <span>{experience.role}</span>
          <span class="tw-mr-3">{experience.period}</span>
        </h3>
        <p class="tw-leading-7 !tw-mt-0 lg:tw-leading-7 lg:tw-text-[16px]">
          {experience.description}
        </p>
        {experience.link && (
          <CustomLink
            link={{
              name: experience.link.name,
              url: experience.link.url,
            }}
            ariaLabel={experience.link.ariaLabel}
            newTab
            classText="lg:tw-text-[16px]"
          />
        )}
      </div>
    ))
  }
</section>
